@use "../utils/mixin";

.asides {
    padding-left: 20px;
    width: 25rem;
    @include mixin.laptop {
        width: 95%;
        padding-left: 0;
        margin-left: 20px;
    }
    @include mixin.mobile {
        margin-left: 0;
        width: 100vw;
    }

    li {
        margin-left: 22px;
    }
}

.contact {
    a {
        font-size: 26px;
    }
}