@use "../settings";
@use "../utils/mixin";

.card {
    text-align: center;
    position: relative;
    img {
        border: 2px solid settings.$color-2;
        border-radius: 25px;
        @include mixin.mobile {
            width: 90%;
        }
    }
}