@use "../settings";

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: settings.$color-3;
    bottom: 0;
    left: 0;
    width: 100%;
    h2 {
        color: white;
    }
}