@use "../settings";
@use "../utils/mixin";

header {
    display: flex;
    justify-content: space-between;
    border: 5px solid settings.$color-2;
    background-color: settings.$color-3;
    padding: 0px 20px 20px 20px;
    width: 90rem;
    height: 12rem;
    border-radius: 25px;
    color: white;
    @include mixin.desktop {
        width: 60rem;
    }
    @include mixin.laptop {
        width: 88.5%;
        margin-left: 20px;
    }
    li {
        font-size: 26px;
        list-style-type: none;
    }
}

.title {
    display: flex;
    flex-direction: column;
}

.title h1 {
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

ul {
    margin: 0;
    padding: 0;
}


