@use "../settings";
@use "../utils/mixin";

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 2px settings.$color-2;
    background-color: settings.$color-3;
    padding: 0px 20px 20px 20px;
    width: 90rem;
    height: 12rem;
    color: white;
    @include mixin.desktop {
        width: 60rem;
    }
    @include mixin.laptop {
        width: 95%;
        margin-left: 20px;
    }
    @include mixin.mobile {
        width: 100vw; 
        height: 15rem;
        margin-left: 0;
        box-shadow: none;
    }
    li {
        font-size: 26px;
        list-style-type: none;
        @include mixin.laptop {
            font-size: 20px;
        }
    }
}

.title {
    display: flex;
    flex-direction: column;
    @include mixin.laptop {
        font-size: 12px; 
        width: 60%;
    }
}

.title h1 {
    color: settings.$color-1;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

ul {
    margin: 0;
    padding: 0;
}


