@use "../settings";

.navigation {
    ul {
      display: flex;
      margin: 30px;
      list-style-type: none;
  
      a {
        text-decoration: none;
        padding: 10px;
  
        li {
          color: settings.$color-3;
          transition: 0.2s;
          cursor: pointer;
  
          &:hover {
            color: settings.$color-4;
          }
        }
      }
  
      .nav-active {
        position: relative;
  
        &::after {
          content: "";
          height: 4px;
          width: 0;
          background: settings.$color-2;
          position: absolute;
          border-radius: 10px;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-animation: nav-anim 0.3s ease forwards;
          animation: nav-anim 0.6s ease forwards;
        }
      }
    }
  }