.picture-container {
    width: 205px;
    text-align: center;
    margin-right: 50px;
}

.portrait {
    overflow: hidden;
    border: 2px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.photo {
    height: 200px;
}