@use "../settings";

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.letter {
    font-size: 15vw;
    display: inline-block;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    background: #EEE;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    font-size: 10vw;
    border-bottom: 1px solid #666;
}