@use "../settings";

.intro {
    width: 90rem;
    margin-top: 100px;
    padding-left: 20px;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60rem;
    li {
        margin-left: 22px;
    }
}

.rows-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 70px;
}

.block-color {
    background-color: settings.$color-3;
    border-radius: 25px;
    padding: 3px 15px 20px 15px;
    margin-bottom: 15px;
}

.experiences_ext {
    margin-bottom: 6rem;
}
