@use "../styles/utils/mixin";

//COLORS 
$color-1: #d2e4f1;
$color-2: #8facc0;
$color-3: #818d97;
$color-4: #484d51;

//FONTS 
@font-face {
  font-family: "font-1";
  src: url("../assets/fonts/SofiaSansCondensed-VariableFont_wght.ttf");
}

$font-1: "font-1", sans-serif;

//BODY
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: $font-1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


